{% extends 'todo/base.html' %}
{% load staticfiles %}
{% block content %}

        <h1 >LOGIN</h1>
 <div class="form-group">
        <form action =" " method="post">{% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-danger btn-rounded" value="LOGIN" />
            <a href="{% url 'reg' %}" class="btn btn-danger btn-rounded">Sign up!</a>
            <p><strong>-- OR --</strong></p>
            <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
            <a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
        </form>
 </div>
{% endblock %}
